{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Virtual</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body class="container py-5">

    <div class="p-5 border border-1 shadow">
        <h1 class="fw-bold text-primary">Bienvenido a mi Agenda</h1>
        <h2>Con esta aplicacion podras gestionar tu Agenda Virtual!</h2>
        <p>Consulta, crea, actualiza y elimina tus contactos de forma rapida y segura</p>
    </div>

    <div class="mt-5">
        <h3>{% if contact %}
            Editar
            {% else %}
            Nuevo
            {% endif %}
            Contacto</h3>
    </div>

    <form style="max-width: 200px;" class="mt-5 mx-auto" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="text-end mt-3">
        
            <button class="btn btn-primary">
                {% if contact %}
                Actualizar
                {% else %}
                Crear
                {% endif %}
                Contacto
            </button>
            
            <a href="{% url 'contact_list' %}" class="btn btn-light me-1">
                Cancelar
            </a>
        </div>
        
    </form>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html> 